
#app{
  display:block;
  margin-top:5%;
  text-align:center;
}

#text{
  font-size:8em;
  font-family:sans-serif;
  text-transform:uppercase;
}

#answer{
  font-size:1.2em;
  color:#666;
}

#score{
  font-size:3em;
  margin-top:50px;
}

#score > .value{
  display:inline-block;
  background-color:green;
}

#answer,#buttons,#loose button{
  margin-top:30px;
}

#loose p{
  font-weight:bold;
  font-size:2em;
  color:#b32400;
}

.btn{
  outline:none;
  width:90px;
  height:140px;
  margin-left:5px;
  box-shadow: 1px 1px 2px 1px #666;
}

.btn:hover{
  cursor:pointer;
  box-shadow:inset 1px 1px 2px 1px #777;
}

.btn:first-child{margin-left:0}

.btn-red{background-color:#b32400}
.btn-green{background-color:#29a329}
.btn-blue{background-color:#0066cc}
.btn-yellow{background-color:#e6e600}
.btn-purple{background-color:#DF01A5}

.color-red{color:#b32400}
.color-green{color:#29a329}
.color-blue{color:#0066cc}
.color-yellow{color:#e6e600}
.color-purple{color:#DF01A5}
